/* CSS Document */
body{ background:url(../image/denglubg1.png) repeat-x top;margin:0px; overflow:hidden;}
.denglubg{background:url(../image/20200724103601.jpg) top center no-repeat;width:100%;height:655px; margin:0 auto;}
.denglubg .font{font-size:12px; text-align:center;width:1295px;margin:100px auto 0 auto; color:#666;}
.wz{width:1024px;height:auto; display:table; margin:0 auto;}
.wz .denglu{width:348px;height:358px;padding-top:65px;padding-left:22px;margin-top:118px; float:right;background:url(../image/denglubg4.jpg) top left no-repeat;}
.wz .bg1{width:306px;height:40px;background:url(../image/denglubg3.png) top right no-repeat;}
.wz .bg1:hover{ background-position:bottom right;}
.wz .bg1 input{width:250px;height:38px;line-height:38px;font-size:14px;color:#333; background:none;margin-left:50px;border:0px;outline:medium;}
.wz .bg2{width:306px;height:40px;background:url(../image/denglubg3.png) top left no-repeat;margin-top:20px;}
.wz .bg2:hover{ background-position:bottom left;}
.wz .bg2 input{width:250px;height:38px;line-height:38px;font-size:14px;color:#333;background:none;margin-left:50px;border:0px;outline:medium;}
.wz .bg3{font-size:12px;color:#999;margin-top:10px;}
.wz .bg3 div{width:50px;height:10px; float:left;padding-top:10px;}
.wz .bg3 span{height:40px;line-height:40px;float:left;}
.wz .bg4{width:306px;height:40px;}
.wz .bg5{display: flex; justify-content: space-between; width: 306px; margin-top: 20px;}
.wz .bg5 input{width:135px;height:35px;color:#333;padding-left: 15px; font-size:14px;background:none;outline:medium;border: #bdbdbd 1px solid;}
.wz .tijiao{width:306px;height:35px;background:url(../image/denglu.png);border:0px;outline:medium; cursor:pointer;}
.wz .bg5 input:hover{border: #3aa2e4 1px solid;}
.denglubg2{background:url(../image/bg2.jpg) left top no-repeat;width:100%;height:655px;}
.denglubg2 .font{font-size:12px; text-align:center;width:1295px;margin:100px auto 0 auto; color:#666;}
.wz2{width:477px;height:384; display:table; margin-left:810px;}
.wz2 .denglu{width:348px;height:358px;padding-top:170px;margin-top:118px;}
.wz2 .bg1{width:306px;height:40px;background:url(../image/denglubg3.png) top right no-repeat;}
.wz2 .bg1:hover{ background-position:bottom right;}
.wz2 .bg1 input{width:250px;height:38px;line-height:38px;font-size:14px;color:#333; background:none;margin-left:50px;border:0px;outline:medium;}
.wz2 .bg2{width:306px;height:40px;background:url(../image/denglubg3.png) top left no-repeat;margin-top:20px;}
.wz2 .bg2:hover{ background-position:bottom left;}
.wz2 .bg2 input{width:250px;height:38px;line-height:38px;font-size:14px;color:#333;background:none;margin-left:50px;border:0px;outline:medium;}
.wz2 .bg3{font-size:12px;color:#999;margin-top:10px;}
.wz2 .bg3 div{width:50p;height:40px; float:left;padding-top:11px;}
.wz2 .bg3 span{height:40px;line-height:40px;float:left;}
.wz2 .bg4{width:306px;height:40px;}
.wz2 .tijiao{width:306px;height:35px;background:url(../image/denglu.png);border:0px;outline:medium; cursor:pointer;}