*{
	font-size: 14px;
	/* font-family: 'Times New Roman', Times, serif; */
	padding: 0;
	margin: 0;
}
.image-titlie{
	background: url(../images/bg.png) no-repeat;
	width: 1920px;
	height: 1080px;
}
.top-image{
	display: flex;
	justify-content: space-between;
/* 	font-size: 0px;
	left: 0px;
	top: 0px; */
	width: 1920px;
	height: 132px;
	background-image: url(../images/titilebg.png);
	background-repeat: repeat;
	/* position: absolute; */
	overflow: hidden;
	/* display: block; */
	cursor: default;
	z-index: 0;
	/* line-height: 156px; */
}
.bottom-div{
	display: flex;
}
.center{
	width: 1047px;
}
.left,.right{
	/* padding-top: 132px; */
	margin:0 20px;
	width: 420px;
}

.left-div1{
	width: 420px;
	height: 312px;
}
.title-base {
	display: flex;
    font-size: 0px;
    width: 420px;
    height: 48px;
    background: url(../images/wtitlebg.png) right center no-repeat;
    background-size: 120%;
}
.font-ctenot{
	color: #37E9F7;
	font-size: 30px;
	line-height:170px;
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif;
}
.center-top{
	width: 950px;
	margin: auto;
	height: 624px;
}
	
.center-div1{
	
}
.center-div1>.title-base {
	
	margin: auto;
    width: 800px;
    height: 48px;
    background: url(../images/wtitlebg2.png) right center no-repeat;
    background-size: 110%;
}
.title-font{
	font-weight: 600;
	padding-top: 8px;
	color: #009ee7;
	font-size: 15px;
	cursor: pointer;
}
.iconcolor{
	width: 48px;
	margin: 0 20px; 
	font-size: 30px; 
	line-height: 48px;
	border-radius: 50%;
	background-color: #0541ff;
	background-color: rgba(25, 255, 248, 0.2);
	
	text-align: center;
}
.iconcolor>i{
	/* margin-left: 9px; */
	
}
.iconr1{
	
	
	color: #fc8104;
	/* color: rgba(123, 245, 251, 0.7); */
}
.iconr2{
	color: #25a0ea;
	/* color: rgba(251, 167, 199, 0.7); */
}
.iconr3{
	color: #1ef9f7;
	/* color:rgba(171, 197, 251, 0.7); */
}
.iconr4{
	color: #f781d3;
	/* color:rgba(251, 214, 171, 0.7); */
}
.mainxz-9{
	display: none;
}

 /* color: ["#fc8104", "#25a0ea", "#1ef9f7", "#f781d3","#0cff6b"], */